*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    background-color: black;
}
h1{
    position:absolute;
    top: 0;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar{
    display: flex;
    position: absolute;
    top: 10px;
    left: 350px;
    height: 30px;
    max-width: 300px;
    background-color: white;
    border-radius: 25px;
}
.navbar:hover{
    box-shadow: 0 0 25px red;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: red;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.navbar input{
    cursor: pointer;
    font-size: 15px;
    height: 100%;
    width: 90%;
    border: none;
    border-radius: 25px;
    padding-left: 5px;
}
input[type="search"]:focus{
    outline: none;
}
.pic{
    position: absolute;
    left: 200px;
    top: 150px;
    border-radius: 5%;
    height: 70vh;
    width: 400px;
    background-image: url(pfp.png);
    background-size:contain;
    background-repeat: no-repeat;
    border: none;
}
.options{
    height: 50px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 15px;
    left: 800px;
}
.options a{
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
    padding: 0 2px ;
}
.options a:hover{
    color: red;
    text-decoration:underline;
    text-underline-offset: 5px;
}
.greet{
    position: absolute;
    top: 200px;
    left: 750px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
.name{
    position: absolute;
    top: 230px;
    left: 750px;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
}
.job{ 
    display: flex;
    position: absolute;
    top: 310px;
    left: 750px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
}
.typing-text{
    color: red;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid red;
    animation: typing 5s steps(18) infinite;
}
@keyframes typing {
0%{
    width: 0ch;
}
50%{
    width: 18ch;
}
100%{
    width: 0ch;
}
}
 p{
    position: absolute;
    left: 750px;
    top: 380px;
    padding-right: 120px;
    color: white;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.socials{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 470px;
    left: 732px;
}
.github{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid red;
    font-size: 15px;
    transition: all 0.2s linear;
}
.github:hover{
    height: 35px;
    width: 35px;
    font-size: 20px;
    border: none;
    background-color: red;
    box-shadow: 0 0 25px red;
}
.github i:hover{
    color: black;
}
.linkedin{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid red;
    font-size: 15px;
    transition: all 0.2s linear;
}
.linkedin:hover{
     height: 35px;
    width: 35px;
    font-size: 20px;
    border: none;
    background-color: red;
     box-shadow: 0 0 25px red;
}
.linkedin i:hover{
    color: black;
}
.insta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid red;
    font-size: 15px;
    transition: all 0.2s linear;
}
.insta:hover{
     height: 35px;
    width: 35px;
    font-size: 20px;
    border: none;
    background-color: red;
     box-shadow: 0 0 25px red;
}
.insta i:hover{
    color: black;
}
.X{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid red;
    font-size: 15px;
    transition: all 0.2s linear;
}
.X:hover{
     height: 35px;
    width: 35px;
    font-size: 20px;
    border: none;
    background-color: red;
     box-shadow: 0 0 25px red;
}
.X i:hover{
    color: black;
}
.socials .github a{
    color: red;
}
.socials .linkedin a{
    color: red;
}
.socials .insta a{
    color: red;
}
.socials .X a{
    color: red;
}
.button{
    height: 70px;
    width: 300px;
    position: absolute;
    top: 520px;
    left: 745px;
    display:flex;
}
.about button{
    cursor: pointer;
    height:35px;
    width: 95px;
    color: red;
    background-color: black;
    border: 2px solid red;
    border-radius: 25px;
    margin-right: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.2s linear;
    font-size: 15px;
}
.about button:hover{
    height: 38px;
    width: 98px;
    font-size: 17px;
    font-weight: 500;
    background-color: red;
    color: black;
     box-shadow: 0 0 25px red;
}
.hire button{
    cursor: pointer;
    height:35px;
    width: 95px;
    color: red;
    background-color: black;
    border: 2px solid red;
    border-radius: 25px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.2s linear;
    font-size: 15px;
}
.hire button:hover{
    height: 38px;
    width: 98px;
    font-size: 17px;
    font-weight: 500;
    background-color: red;
    color: black;
     box-shadow: 0 0 25px red;
}
 .finisher-header{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
    display: block;
 }
 .finisher-header canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
 }
 